:root {
  --progress-bar-size: 123px;
  --progress-path: 10px;
  --font-size: 1.3rem;
}

.circular-progress {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  position: absolute;
  width: calc(100px - var(--progress-path));
  height: calc(100px - var(--progress-path));
  border-radius: 50%;
  background-color: var(--section-color-1);
}

.info {
  position: relative;
  font-size: var(--font-size);
  font-weight: bold;
}
