.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 8px;
  opacity: 0.6;
}

p {
  line-height: 1.6;
}

img {
  user-select: none;
}

.app {
  overflow-x: hidden;
  position: relative;
}

ul,
li {
  list-style: none;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

i {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  pointer-events: none;
}

i:hover {
  opacity: 1;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* loading */
.pageLoader {
  position: fixed;
  top: 0;
  background-color: #111;
  width: 100%;
  height: 100%;
  z-index: 999999;
  transition: 1s;
}

.lds-ellipsis {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  z-index: 9999999999;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--main-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*components*/

/* section-title */
.section-title {
  color: var(--title-color);
  position: relative;
  width: fit-content;
  margin-bottom: 40px;
  font-family: "Rowdies", sans-serif;
  letter-spacing: 2px;
  opacity: 0;
  transition: 1s;
}

.section-title.show {
  opacity: 0.75;
}

.section-title h1 {
  margin: 0;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
  margin-bottom: 16px;
}

.section-title h1::first-letter {
  color: var(--main-color);
  font-size: 45px;
}

.section-title h1::before,
.section-title h1::after {
  content: "";
  position: absolute;
  bottom: -8px;
  height: 1px;
}

.section-title h1::before {
  width: 80%;
  background-color: var(--line-color);
}

.section-title h1::after {
  left: 0px;
  width: 6px;
  background-color: var(--title-color);
  animation: move2 infinite alternate 2s;
}

@keyframes move2 {
  100% {
    left: 79%;
  }
}

/* overlay */
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  opacity: 0.7;
  background-image: linear-gradient(
    180deg,
    #000000e0,
    #000000f0,
    #000,
    #000000f0,
    #000000e0
  );
}

/* theme Color and Mode controler */
.theme-colors {
  position: fixed;
  z-index: 26;
  top: 120px;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  padding: 14px 0;
  /* border-radius: 6px 0 0 6px; */
  transform: translateX(140px);
  transition: 0.3s transform;
  background-color: var(--section-color-1);
  user-select: none;
  border: 1px solid var(--line-color);
}

.theme-colors.open {
  transform: translateX(0);
}

.color-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-content: center;
  justify-content: center;
}

.color-buttons .color {
  width: 36px;
  height: 36px;
  opacity: 0.35;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

.color-buttons .color:hover,
.color-buttons .color.active {
  opacity: 1;
}

.color-buttons .color.active {
  pointer-events: none;
  color: #fff;
}

.theme-mode-btn {
  position: fixed;
  right: 0;
  top: 166px;
  z-index: 20;
}

.theme-colors-btn,
.theme-mode-btn {
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  /* border-radius: 6px 0 0 6px; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-right: none;
  color: #fff;
  opacity: 0.75;
}

.theme-colors-btn i,
.theme-mode-btn i {
  opacity: 1;
}

.theme-colors-btn:hover i,
.theme-mode-btn:hover i {
  opacity: 0.8;
}

.app.dark .theme-colors-btn,
.app.dark .theme-mode-btn {
  border-color: #333;
}

.theme-colors-btn {
  position: absolute;
  left: -30.5px;
}

#light {
  display: block;
}
#dark {
  display: none;
}

.app.dark #light {
  display: none;
}
.app.dark #dark {
  display: block;
}

/* hero button */
.hero-btn {
  z-index: 25;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  width: 150px !important;
  position: relative;
  text-align: center;
  padding: 10px;
  opacity: 0.75;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  text-wrap: nowrap;
}

.hero-btn::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  transition: inherit;
  opacity: inherit;
  right: -6px;
  bottom: -6px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--main-color);
}

.hero-btn:hover::before {
  right: 0px;
  bottom: 0px;
}

.hero-btn i {
  opacity: 0.75;
  margin-left: 6px;
}

.hero-btn:hover {
  opacity: 0.9;
}

/* go top button */
.go-top-btn {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  position: fixed;
  bottom: 12px;
  right: 12px;
  cursor: pointer;
  /* border-radius: 4px; */
  display: none;
  z-index: 40;
}

.go-top-btn.show {
  display: flex;
}

.go-top-btn i {
  opacity: 0.75;
}

.go-top-btn:hover i {
  opacity: 1;
}

/* start social icons */
.social-links a {
  border: 1px solid var(--line-color);
  padding: 6px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  position: relative;
  z-index: 10;
}

.social-links a:not(:first-child) {
  margin-left: 10px;
}

.social-links a i {
  font-size: 16px;
  transition: 0.3s;
  opacity: 0.75;
}

.social-links a i {
  color: var(--icon-color);
}

.social-links a:hover i {
  color: #fff;
  opacity: 1;
}

.social-links a:hover {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
/* end social icons */

/* start page loader */
.pageLoader {
  position: fixed;
  top: 0;
  background-color: #111;
  width: 100%;
  height: 100%;
  z-index: 999999;
  transition: 1s;
}

.lds-ellipsis {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  z-index: 9999999999;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--main-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* end page loader */
